@model ConfigurationViewModel

@if (Model.Saved)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <strong>Success!</strong> Your configuration has been saved.
    </div>
}
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.SearchConfiguration.Name)
        @Html.TextBoxFor(model => model.SearchConfiguration.Name, new { @class = "form-control", type = "text" })
        <small class="form-text text-muted">This is the name of your Search service.</small>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SearchConfiguration.Key)
        @Html.TextBoxFor(model => model.SearchConfiguration.Key, new { @class = "form-control", type = "password" })
        <small class="form-text text-muted">You can use a read-only key from the Keys blade.</small>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.CacheConfiguration.Name)
        @Html.TextBoxFor(model => model.CacheConfiguration.Name, new { @class = "form-control", type = "text" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CacheConfiguration.Key)
        @Html.TextBoxFor(model => model.CacheConfiguration.Key, new { @class = "form-control", type = "password" })
    </div>
    <button type="submit" class="btn btn-primary">Save Configuration</button>
}