@model ConfigurationViewModel

@if (Model.Saved)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <strong>Success!</strong> Your configuration has been saved.
    </div>
}
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Configuration.ConnectionString)
        @Html.TextBoxFor(model => model.Configuration.ConnectionString, new { @class = "form-control", type = "text" })
        <small class="form-text text-muted">You can find this in the Connection String blade.</small>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Configuration.Database)
        @Html.TextBoxFor(model => model.Configuration.Database, new { @class = "form-control", type = "text" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Configuration.Collection)
        @Html.TextBoxFor(model => model.Configuration.Collection, new { @class = "form-control", type = "text" })
    </div>
    <button type="submit" class="btn btn-primary">Save Configuration</button>
}